{% extends 'base.html' %}

{% block title %}Dashboard — MiniStore{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Dashboard</h1>
</div>

<div class="cards">
    <div class="card">
        <div class="card-valor">{{ totais.clientes }}</div>
        <div class="card-label">Clientes</div>
    </div>
    <div class="card">
        <div class="card-valor">{{ totais.categorias }}</div>
        <div class="card-label">Categorias</div>
    </div>
    <div class="card">
        <div class="card-valor">{{ totais.produtos }}</div>
        <div class="card-label">Produtos</div>
    </div>
    <div class="card">
        <div class="card-valor">{{ totais.vendas }}</div>
        <div class="card-label">Vendas</div>
    </div>
</div>
{% endblock %}